.navWrapper {
  padding: 16px 60px;

  background: rgba(15, 15, 15, 0.4);
  backdrop-filter: blur(9px);
}

.nav {
  justify-content: flex-end;
  gap: 24px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}

.link {
  text-decoration: none;
  color: white;
  font-size: 16px;
  letter-spacing: 0.32px;
  transition: color 0.3s;
}

.link.active,
.link:hover {
  color: #ffa800;
}
