.movieList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 12px;
}

.movieList li {
  height: 40px;
  min-width: max-content;
}

.movieList li:first-child {
  margin-left: 50%;
}

.movie {
  border: 1px solid #a1aebf;
  padding: 12px 24px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  text-decoration: none;
  transition: all 0.3s;
}

.movie:hover {
  background: rgba(255, 255, 255, 0.1);
  border-color: #ffa800;
}
